<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add employees</title>
</head>
<body>
<h1>Add New Employee</h1>
<form method="post" action="/save">
  <table>
    <tr>
      <td>Name : </td>
      <td><input type="text" name="name" required></td>
    </tr>
    <tr>
      <td>Salary :</td>
      <td><input type="number" name="salary" required></td>
    </tr>
    <tr>
      <td>Designation :</td>
      <td><input type="text" name="designation" required></td>
    </tr>
    <tr>
      <td> </td>
      <td><button type="submit">Save</button></td>
    </tr>
  </table>
</form>
</body>
</html>